<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">  
    <title>Image Conversion</title>
</head>
<body>

  <nav>
    <a href="/">Home</a>
  </nav>
  <!--For image convertor-->

  <div class="header">
    <h1>Image Conversion</h1>
  </div>

  <!--Pages-->
  <div class="links">
    <div class="card">
      <a href="/jpgtopng">JPG to PNG</a>
    </div>

    <div class="card">
      <a href="/pngtojpg">PNG to JPG</a>
    </div>

    <div class="card">
      <a href="/jpgtopdf">JPG to PDF</a>
    </div>

  </div>
 

  <!--For document convertor  -->
  <div class="header">
    <h1>Document Conversion</h1>
  </div>

  <!--Pages-->


  <!--How to use and website info-->
  <div class="info">
    <p>Welcome to our website, a one-stop solution for all your conversion needs! Whether you want to convert JPG to PNG, PNG to JPG, or JPG to PDF, we've got you covered. With our user-friendly interface and powerful conversion tools, you can easily and quickly get your desired result. Say goodbye to tedious and time-consuming manual processes and embrace the convenience of our online converter. Try it out now and experience the difference!</p>
  </div>
  <div class="houtouse">
    <h2>How to Use Our Website</h2>
    <p>Using our website is simple and straightforward. Just follow these steps:</p>
    <ul>
      <li>1.Select the type of conversion you want to perform - JPG to PNG, PNG to JPG, or JPG to PDF.</li>
      <li>2.Upload the image you want to convert by clicking on the "Choose File" button.</li>
      <li>3.Preview the image to ensure that it is the correct one and that it meets your desired specifications.</li>
      <li>4.If you are satisfied with the preview, click on the "Convert" button to initiate the conversion process.</li>
      <li>5.Wait for the conversion to complete, which should take just a few seconds depending on the size of your image.</li>
      <li>6.Download the converted image by clicking on the "Download" button.</li>
    </ul>
    <p>And that's it! You now have a high-quality, converted image that you can use for whatever purpose you need. With our user-friendly interface and powerful conversion tools, you can quickly and easily convert images to your desired format.</p>
  </div>


  <div class="footer">
    <p>Maruf Rahman &copy; 2023</p>
  </div>
</body>
</html>
